.idea
__pycache__
env
sphinx/env
sphinx/__recursos_guia
*.xlsx
*.ipynb
*.tsv
x_pruebas funciones libreria.ipynb
.ipynb_checkpoints
perfilamiento.html
perfilamiento_leila.html
datos.py
test_reporte.py
dist
crear_whl.bat