# ignore sphinx folder
sphinx

# ignore testing files
test_reporte.py
perfilamiento_leila.html


# ignore compilation files
dist
crear_whl.bat

# ignore Excel files
*.xlsx
*.tsv

# ignore jupyter notebook files
*.ipynb
.ipynb_checkpoints

# ignore virtual env
env

# ignore other files
.idea
__pycache__