alabaster==0.7.12
Babel==2.9.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.4
cycler==0.10.0
docutils==0.16
idna==2.9
imagesize==1.2.0
Jinja2==2.11.2
joblib==1.0.1
kiwisolver==1.3.1
leila==0.1
llvmlite==0.35.0
MarkupSafe==1.1.1
matplotlib==3.3.4
numba==0.52.0
numpy==1.20.1
packaging==20.9
pandas==1.0.3
phik==0.10.0
Pillow==8.1.0
Pygments==2.8.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
scipy==1.5.1
six==1.14.0
snowballstemmer==2.1.0
sodapy==2.1.0
Sphinx==3.5.1
sphinx-copybutton==0.3.1
sphinx-multiversion==0.2.4
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.25.9
xlrd==1.2.0