<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>

        <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <style>
            table > tbody > tr > :nth-child(1){
                font-weight:bold;
            }
            .borde{
                border-style: solid;
                border-width: 1px;
                border-color: #eee;
            }
        </style>
    </head>

    <body>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">

                    <!-- Header -->
                    <div class="row">
                        <div class="col-md-12">
                            <h1>{{ title }}</h1>
                            <em>Reporte generado automáticamente {{ current_time }}</em>

                            <!--
                            <h1 class="hidden-xs bg-danger">This text is hidden on an EXTRA SMALL screen.</h1>
                            <h1 class="hidden-sm bg-info">This text is hidden on a SMALL screen.</h1>
                            <h1 class="hidden-md bg-warning">This is text hidden on a MEDIUM screen.</h1>
                            <h1 class="hidden-lg bg-success">This is text hidden on a LARGE screen.</h1>
                            -->

                            <hr>
                        </div>
                    </div>

                    <!-- Data Summary -->
                    <div class="row">
                        <div class="col-md-12 borde">

                            <div class="row">
                                <div class="col-md-6">
                                    <h3><em>Estadísticas generales</em></h3>
                                </div>
                            </div>

                            <div class="row hidden-md hidden-lg">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        {{ html_data_summary_00 }}
                                    </div>
                                </div>
                            </div>

                            <div class="row hidden-xs hidden-sm">
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        {{ html_data_summary_01 }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        {{ html_data_summary_02 }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>

                    <!-- Tabs -->
                    <div class="row">
                        <div class="col-md-12 borde">

                            <h3><em>Estadísticas específicas</em></h3>
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab01">descriptive_stats</a></li>
                                <!--
                                <li><a data-toggle="tab" href="#tab02">descriptive_stats temp</a></li>
                                <li><a data-toggle="tab" href="#tab03">descriptive_stats Play</a></li>
                                -->
                            </ul>
                            <!--
                            <div class="tab-content" style="text-align: justify; text-justify: inter-word;">
                                <div id="tab01" class="tab-pane fade in active">

                                    <br>
                                    <p>
                                        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta).
                                    </p>

                                    <div class="row">
                                        <div class="col-md-3 borde">
                                            <p><input type="checkbox" onClick="toggle(this)"> Todos</p>
                                            <p><input type="checkbox" name="first_name" class="checkbox_tab1"> Nombre</p>
                                            <p><input type="checkbox" name="last_name" class="checkbox_tab1"> Apellido</p>
                                            <p><input type="checkbox" name="email" class="checkbox_tab1"> Email</p>
                                        </div>
                                        <div class="col-md-9 borde table-responsive">

                                            <table class="table table-condensed table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th class="first_name">Nombre</th>
                                                        <th class="last_name">Apellido</th>
                                                        <th class="email">Email</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td class="first_name">jairo</td>
                                                        <td class="last_name">ruiz</td>
                                                        <td class="email">jairoruiz@correo.com</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td class="first_name">jefesote</td>
                                                        <td class="last_name">escobar</td>
                                                        <td class="email">eduescobar@correo.com</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td class="first_name">jefecito</td>
                                                        <td class="last_name">montenegro</td>
                                                        <td class="email">pablin@correo.com</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td class="first_name">sebas</td>
                                                        <td class="last_name">numpaque</td>
                                                        <td class="email">numpy@correo.com</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td class="first_name">carlos andres</td>
                                                        <td class="last_name">rocha</td>
                                                        <td class="email">crocha@correo.com</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td class="first_name">insu</td>
                                                        <td class="last_name">insu</td>
                                                        <td class="email">insu@correo.com</td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>

                                <div id="tab02" class="tab-pane fade">
                                    <br>
                                    <p>
                                        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta).
                                    </p>

                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            {{ html_descriptive_stats }}
                                        </div>
                                    </div>

                                </div>
                            -->
                                <div id="tab01" class="tab-pane fade in active">

                                    <br>
                                    <p>
                                        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta).
                                    </p>

                                    <div class="row">
                                        <div class="col-md-3 borde">
                                            <h4><strong><em>Variables</em></strong></h4>
                                            <p><input type="checkbox" onClick="toggle(this)" id="select-all"> Seleccionar todos</p>
                                            {% for item in test_list %}
                                                <p><input type="checkbox" name="ds_{{ loop.index }}" class="checkbox_tab1"> {{ loop.index }} - {{ item }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-9 borde table-responsive">
                                            <table class="table table-condensed table-hover">

                                                <thead>
                                                    <tr>
                                                        <th>Estadística</th>
                                                        {% for item in test_list %}
                                                            <th class="ds_{{ loop.index }}">{{ item }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for row in items%}
                                                        <tr>
                                                            {% for column in row %}
                                                                <td class="ds_{{ loop.index0 }}">

                                                                    {% if loop.index0 == 0 %}
                                                                        {{ column }}
                                                                    {% else %}
                                                                        {{ "%.2f"|format(column|float) }}
                                                                    {% endif %}

                                                                </td>
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>

                                            </table>


                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="row">
                        <div class="col-md-12">

                            <footer class="text-center">
                                <hr>
                                <p>
                                    Reporte generado con la librería <em><a href="#" target="_blank">calidad_datos</a></em>
                                    - Versión 1.0 <span class="glyphicon glyphicon-sunglasses" aria-hidden="true" style="font-size:1.2em;"></span>
                                </p>
                            </footer>

                        </div>
                    </div>

                    <script>
                        // cambia el valor de los checkboxs de clase 'checkbox_tab1'
                        // de acuerdo con el valor del checkbox de 'seleccionar todos'
                        // y hace el toggle de sus respectivas columnas en la tabla
                        function toggle(source) {
                            checkboxes = document.getElementsByClassName('checkbox_tab1');
                            for(var i=0, n=checkboxes.length;i<n;i++) {
                                checkboxes[i].checked = source.checked;
                                var shcolumn="."+$(checkboxes[i]).attr("name");
                                $(shcolumn).toggle(display=source.checked);
                            }
                        }
                    </script>

                    <script>
                        // hace el toggle de cada columna en la tabla
                        // de acuerdo con el valor de su respectivo checkbox
                        $("input:checkbox").attr("checked",true).click(function()
                        {
                            var shcolumn="."+$(this).attr("name");
                            $(shcolumn).toggle(display=this.checked);
                        });
                    </script>

                    <script>
                        // verifica el estado de los checkboxs con clase 'checkbox_tab1',
                        // si uno es false, cambia el valor del checkbox de 'seleccionar todos' a false
                        // si todos son true, cambia el valor del checkbox de 'seleccionar todos' a true
                        $("input:checkbox").change(function(){
                            checkboxes = document.getElementsByClassName('checkbox_tab1');
                            var value = true;
                            for(var i=0, n=checkboxes.length;i<n;i++) {
                                if (checkboxes[i].checked == false) {
                                    value = false;
                                }
                            }
                            $('#select-all').prop('checked', value);
                        });
                    </script>

                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </body>
</html>